* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slideContainer {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 80%;
  overflow: hidden;
  height: 300px;
  cursor: grab;
}
.inner-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* display: flex; */
  gap: 5px;
  pointer-events: none;
}
.slide-img {
  flex: 1;
  height: 100%;
  background-color: aquamarine;
  padding: 1rem;
  text-align: center;
}
.slide-img:hover {
  transform: translateY(-10px);
}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
