* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: whitesmoke;
  background-color: #f14e0d;
}
main {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
main img {
  width: 100%;
}
#nav__pc {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  width: 70px;
  background-color: red;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}
.cv {
  margin-top: 26rem;
}
#nav__pc:hover {
  animation: grow 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1;
  animation-fill-mode: forwards;
}
@keyframes grow {
  from {
    width: 150px;
  }
  to {
    width: 180px;
  }
}

.menu_list_pc {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 1rem;
  height: 100%;
}
.menu_list_pc li {
  display: flex;
  align-items: center;
}

.menu_list_pc li span {
  width: 30px;
}
.lg a {
  margin-top: 1rem;
}
.menu_list_pc li .logo {
  margin: 2rem 0 0.5rem;
  width: 35px;
  border: 1px solid red;
}
.menu_list_pc li a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  display: none;
}
#nav__pc:hover a {
  display: block;
}
#nav__mobile {
  display: none;
}
#burger {
  width: 30px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
/* media query */
@media only screen and (max-width: 768px) {
  #nav__pc {
    display: none;
  }
  #nav__mobile {
    display: block;
    background: black;
    padding: 10px 0;
  }
  #nav__mobile ul {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
  }

  #nav__mobile ul li a {
    text-decoration: none;
    color: white;
  }
  .lg {
    width: 35px;
  }
}
